//1- variables
$mainBackground: #fff1f6;
$primaryColor: #e91e63;
$secondaryColor: #f48fb1;
$dangerColor: #d32f2f;
$lightColor: #fff1f6;
$DarkColor: #4a2c38;
$border: 1px solid lightblue;
$BorderRadius: 20px;
$spacing: 20px;
$min-width: 100px;
$min-height: 100px;
$background-colors: (#eaf2ff 1, #c9dbff 2, #9bbdf9 3, #6f9ff2 4, #3e6fd8 5);

$colors: (
  #2f4fa3 18px 1,
  #274796 20px 2,
  #1f3e87 22px 3,
  #173678 24px 4,
  #0f2e69 26px 5
);
