* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  display: flex;
  font-size: 2rem;
  opacity: 0;
  transition: opactiy 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgb(0, 0, 0, 1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}

.country-img {
  width: 30rem;
}

/* .counter-data{
    margin:0 5rem ;
} */
.country-row {
  margin: 0;
  padding: 0;
}

input {
  border: 3px;
  border-radius: 95px;
  background-color: lightgreen;
  color: darkblue;
  width: 200px;
  height: 20px;
}
p {
  margin: 3px;
  text-align: center;
}
button {
  font-size: 18px;
  text-align: center;
  background-color: darkblue;
  color: wheat;
  border: 1p;
  border-color: #555;
  border-radius: 80px;
  width: 100px;
}
