body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
}
.buttons {
  display: inline-block;
}
input {
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}
h2 {
  color: green;
  font-size: 50px;
}
h1 {
  font-size: 50px;
}
