.body-div {
  background-color: white;
  font: bold 18px Comic Sans MS;
}
img.Nintendo {
  width: 100px;
  display: inline;
  vertical-align: bottom;
  border-top-left-radius: 20%;
}
li {
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}
input {
  border: 0;
  outline: 0px;
  width: 300px;
}
.Search {
  border-bottom: 1px solid black;
}
li.third-child {
  padding-left: 600px;
}
.headline-one ul {
  margin: 0px;
}
.headline-two {
  text-align: center;
}
hr {
  color: #efefef;
}
.headline-three {
  background-color: #efefef;
  text-align: center;
  font: 14px Comic Sans MS;
}
.headline-three ul {
  margin: 0px;
}
p.bold {
  display: inline-block;
  font: bold 18px Comic Sans MS;
}
p.underline {
  display: inline-block;
  text-decoration: underline;
  font: bold 18px Comic Sans MS;
}
li:hover {
  color: #e60012;
  cursor: pointer;
  border-bottom: 2px solid #e60012;
}
div.background {
  background-color: #d6f0fa;
  padding: 100px;
}
.background-two {
  height: 750px;
  background-color: white;
  margin: 100px auto;
}
.imgstar {
  width: 660px;
  height: 400px;
  padding-left: 50px;
}
.image {
  float: left;
}
.images img {
  width: 110px;
  padding: 10px;
}
div.text {
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
}
h6 {
  font: bold 18px Comic Sans MS;
  width: 150px;
  border-bottom: 2px solid#e60012;
  padding: 5px;
}
h1 {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
}
.text p {
  padding-top: 10px;
  font: 14px Comic Sans MS;
  color: #a3a2a2;
}
.button {
  color: white;
  font: bold 25px Comic Sans MS;
  width: 500px;
  height: 50px;
  background-color: #e60012;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
  margin: 15px auto;
}
div.background-three {
  background-color: white;
  height: 400px;
  margin-bottom: 100px;
  padding: 50px;
}
div.story {
  float: left;
  word-spacing: 3px;
  font-weight: lighter;
  width: 40%;
  font-size: 15px;
  vertical-align: top;
  padding: 50px;
  margin-bottom: 100px;
}
div.image2 {
  float: right;
  padding-left: 100px;
  margin: 10px auto;
  margin-bottom: 100px;
}
h2 {
  padding-top: 20px;
  color: #e60012;
}
.rating-modes {
  background-color: white;
  height: 500px;
  margin: 50px auto;
}
.rating {
  width: 650px;
  float: left;
  background-color: #efefef;
  height: 300px;
  margin: 30px;
  padding: 50px;
}
.modes {
  float: right;
  background-color: #efefef;
  height: 300px;
  padding-right: 20px;
  margin: 30px;
  padding: 50px;
}
.modes img {
  width: 190px;
  padding-bottom: 20px;
}
.modes div {
  padding: 20px;
  display: inline-block;
  text-align: center;
}
.modes p {
  font: bold 16px Comic Sans MS;
}
.content {
  width: 1500px;
  margin: 10px auto;
}
.content table {
  border-collapse: collapse;
}
.content tr {
  border-top: 2px solid #efefef;
}
.content th {
  width: 300px;
}
.content th,
td {
  padding: 15px;
}
.content th {
  font: bold 20px Comic Sans MS;
  text-align: left;
}
.content td {
  font: 20px Comic Sans MS;
  color: #a3a2a2;
}
.content p {
  display: inline-block;
  text-decoration: underline;
  color: #e60012;
}
.game {
  margin: 50px auto;
  background-color: #f9f8f8;
  width: 1500px;
  height: 300px;
}
.Controller {
  width: 400px;
  text-align: left;
  display: inline-block;
  margin: 10px auto;
  padding-left: 40px;
}
.controller-image {
  float: right;
  margin: auto;
}
.button2 {
  color: white;
  font: bold 25px Comic Sans MS;
  width: 200px;
  background-color: #e60012;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 15px auto;
  position: relative;
  top: 0px;
  bottom: 20px;
  right: 95px;
}
h3 {
  padding-top: 10px;
  font-size: 15px;
}
.Controller p {
  display: inline;
  font-size: 13px;
  padding-left: 2px;
}
.underlinep {
  text-decoration: underline;
  font-size: 13px;
  color: #e60012;
}
#viewtext {
  margin-left: 50px;
  position: relative;
  left: 180px;
}
.gamelists {
  text-align: center;
  margin: 20px auto;
}
.gamelist {
  width: 260px;
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  text-align: left;
  padding: 5px;
  border: 2px solid #efefef;
  border-radius: 10px;
  font: bold 16px Comic Sans MS;
}
.gamelist img {
  width: 250px;
}
.gamelist tr {
  display: block;
}
th.gamelist {
  word-wrap: break-word;
}
.gamelist p {
  border-bottom: 2px solid #e60012;
  font-weight: lighter;
}
.nintendo-slide {
  text-align: left;
  margin: auto;
  width: 1300px;
  padding-top: 50px;
  font: lighter 15px Comic Sans MS;
  color: #a3a2a2;
  padding-bottom: 40px;
  padding-left: 100px;
}
.Info {
  text-align: center;
  margin: 20px auto;
}
.about {
  display: inline-block;
  margin: auto;
  text-align: left;
  padding: 20px;
}
.about tr {
  display: block;
}
.about th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.endcontent {
  margin-left: 50px auto;
  margin-bottom: 100px;
}
.aboutcontent {
  vertical-align: top;
  display: inline-block;
  margin: auto;
  text-align: left;
  padding-left: 40px;
}
.aboutcontent tr {
  display: block;
  border-left: 1px solid #efefef;
}
.aboutcontent th,
td {
  border: none;
  outline: none;
}
.aboutcontent th {
  padding-left: 10px;
  font-size: 18px;
  color: #434242;
}
.aboutcontent td {
  font-size: 15px;
  color: #e60012;
}
.black-div {
  text-align: center;
  background-color: #434242;
  height: 80px;
  margin: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.black-div p {
  margin-top: 35px;
  float: left;
  font: lighter 10px Comic Sans MS;
  color: white;
}
.black-div ul {
  float: right;
  margin-top: 25px;
}
.black-div li {
  padding-left: 10px;
  padding-right: 10px;
  font: bold 12px Comic Sans MS;
  color: white;
}
