body {
  background-color: rgb(224, 224, 224);
}
.Content {
  background-color: black;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
}
h2 {
  color: white;
}
pre {
  color: rgb(9, 172, 9);
}
.copy {
  float: right;
  padding: 10px;
  margin: 5px;
  background-color: blue;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

h3 {
  font-size: 30px;
}
.showbox {
  border: 1px solid;
  padding: 20px;
  display: block;
}
