body {
  background-color: aliceblue;
  font-family: Tahoma;
}

.drop-down,
.main,
.search-div,
.result {
  display: inline-block;
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid blue;
}
.title {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid blue;
}
td {
  padding: 5px;
  width: 100px;
}
